<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-8.8level{12} - [%-10.10thread{14}] %-40.40logger{48}: %msg%n"/>

    <appender name="ROOT_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <root level="trace">
        <appender-ref ref="ROOT_CONSOLE_APPENDER"/>
    </root>

</configuration>